@import "tailwindcss";

@font-face {
  font-family: Blackthorns Regular;
  src: url('/assets/fonts/blackthorns/blackthorns-regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Blackthorns Bold';
  src: url('/assets/fonts/blackthorns/blackthorns-black.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-color: #FCF8F8;
  --secondary-color: #F5AFAF;
  --tertiary-color: #F9DFDF;
  --primary-accent: #FBEFEF;
  --dot-background: radial-gradient(circle, rgba(245, 175, 175, 1), rgba(245, 175, 175, 1));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #FCF8F8;
    --secondary-color: #F5AFAF;
    --tertiary-color: #F9DFDF;
    --primary-accent: #FBEFEF;
    --dot-background: radial-gradient(circle, rgba(245, 175, 175, 0.8), rgba(245, 175, 175, 0.3));
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat';
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Blackthorns Bold';
  font-weight: 400;
  margin: 0;
}

h4, h5, h6 {
  font-family: 'Blackthorns Regular';
  font-weight: 400;
  margin: 0;
}

h1{
  font-size: 7rem;
}

h2{
  text-align: center;
  font-size: 2.5rem;
}